@media only screen and (min-width: 32.5em) {

    /* <----ELEMENT SELECTORS----> */

    a {
        display: inline-block;
        border-bottom: none;
        font-size: 1.5rem;
        padding: .5rem;
        margin: .25rem .5rem;
        font-family: "Cinzel", serif;
        font-size: 1.5rem;
    }

    a.colors_link {
        font-family: serif;
        font-size: 1rem;
    }

    a:hover.colors_link {
        transform: none;
    }

    a:link {
        text-decoration: none;
    }


    body {
        font-family: "Markazi Text", serif;
        font-size: 20px;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
        color: black;
    }

    iframe{
        display: inline;
    }

    img {
        max-width: 300px;
        display: inline;
    }

    p {
        max-width: 700px;
        text-align: center;
        margin: auto;
        padding: .5em;
        font-size: 1.25em;
    }
    
    table{
        text-align: center;
        display: inline-block;
        border: 2px solid rgba(0, 0, 0, 0.3);
        margin: 10px
    }

    table thead tr th{
        border: none;
    }

    th{
        width: 8rem;
    }

    table, th, td{
        border: 2px solid rgba(0, 0, 0, 0.3);
        border-collapse: collapse;
    }

    /* <----CLASS SELECTORS----> */

    /****************************************
    * Grid Display For Weather Gallery
    ***************************************/
    .container{
        grid-template-columns: 1fr 1fr;
        max-width: 75%;
    }
    
    .container img{
        max-width: 100%;
    }

    /* .picture1{
        grid-column: 1/2;
    }
    
    .picture2{
        grid-column:2/3 ;
    }
    
    .picture3{
        grid-column: ;
    }
    
    .picture4{
        grid-column: ;
    }
    
    .picture5{
        grid-column: ;
    }
    
    .picture6{
        grid-column: ;
    }
    
    .picture7{
        grid-column: ;
    }
    
    .picture8{
        grid-column: ;
    }
    
    .picture9{
        grid-column: ;
    } */

        /* <----ID SELECTORS----> */
}