@import url("https://fonts.googleapis.com/css?family=Cinzel|Markazi+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");

/* <----Element Selectors----> */
aside {
    background-color: salmon;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin: 1rem 1.5rem;
    display: none;
}

body {
    background-color: #A2AEBB;
    font-family: "Markazi Text", serif;
    font-size: 18px;
    padding: 0;
    /*  Need to prevent horizontal space around the elements */
    margin: 0;
    /*  Need to prevent horizontal space around the elements */
    max-width: 100vw;
    /*  Questionable, caused horizontal scrolling when with the html selector */
    text-align: center;

    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

footer {
    text-align: center;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: 1rem;
}

h1,
h2,
h3,
h4 {
    color: black;
    font-family: "Cinzel", serif;
    padding: 10px;
}

header {
    background: #42A5F5;
    max-height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: none;
}

html {
    height: 100%;
    padding: 0;
    margin: 0;
}

iframe {
    display: none;
}

img {
    max-width: 200px;
    border: 1px black solid;
}

nav {
    background-color: #EACB00;
    font-family: "Markazi Text", serif;
    font-size: 18px;
    margin: 0;
    color: #000;
    display: none;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

section {
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 10px;
}


/* <----Class Selectors----> */

.footer {
    background: #42A5F5;
    color: rgba(255, 255, 255, 0.644);
    /* padding: 20px; */
    /* CANNOT HAVE PADDING ON THIS, CAUSES SPACE */

    grid-row-start: 4;
    grid-row-end: 5;
    display: none;
}

figure img[src] {
    filter: blur(0em);
}

figure img[data-src] {
    filter: blur(0.2em);
    transition: filter 20s;
    filter: blur(0.0em);
    transition: filter 20s;
}

figure img{
    display: none;
}

/* EXPERIMENTING WITH DIFFERENT RESPONSIVE NAV BAR OPTIONS */
.ham {
    padding: 0;
    margin: 0;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #000;
    text-align: center;
    text-decoration: none;
}

.navigation a:hover {
    color: #000;
    /* background-color: #fff; */
    font-weight: 700;
}

/****************************************
* Grid Display For Weather Gallery
***************************************/
.container{
    display: grid;
    grid-template-columns: auto;
    border: 1px black solid;
    display: none;
}

.container img{
    max-width: 100%;
}

/* the onclick JS toggles the .repsonsive class from 
display none (.navigation li) to display block because 
the repsonsive class is added to the end of the class 
list like this in HTML Line #6. <ul class="navigation responsive">
*/

.responsive li {
    display: block;
}

.siteImg {
    max-width: 100px;
    margin: auto;
}

.siteNameAndMotto {
    margin: auto;
    justify-self: left;
    margin: auto 0;
}

.siteNameAndMotto p {
    font-style: italic;
    padding-left: 0rem;
}

/* <----ID Selectors----> */

#content {
    max-width: 800px;
    margin: auto;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}