@media only screen and (min-width: 65em) {
    /************** ELEMENT SELECTORS ************** */
    aside{
        color: #e7dac4;
        color: #746F72;
        color: #313638;
        color: #3A405A;
        color: #B39C4D;
        }
    /* FOOTER */
    
    /* HEADER */
    
    /* MAIN */
    
    
    /************** CLASS SELECTORS ************** */
    
    /*************** ID SELECTORS *************** */
    
    
    }