@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Serif&display=swap');

/************** ELEMENT SELECTORS ************** */
aside {
    color: #e7dac4;
    color: #746F72;
    color: #313638;
    color: #3A405A;
    color: #B39C4D;
}



/* BODY */

body {
    font-family: 'Noto Serif', serif;

    background-image: url(https://1.bp.blogspot.com/-hrGFLyJba3U/Uh90QVFp01I/AAAAAAAAFoY/F5R7LBbTox0/s1600/Background-Picture-Html.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}


.login-page{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}



/* FORM */
.form{
    position: relative;
    z-index: 1;
    background: rgba(7,  40, 195, 0.5);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input{
    font-family:'Noto Serif', serif; 
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button{
    font-family: 'Noto Serif', serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover, .form:active{
    background: #43A047;
}

.form .message{
    margin: 15px 0 0;
    color: rgb(76, 157, 228);
    font-size: 12px;
}

.form .message a{
    color: #4CAF50;
    text-decoration: none;
}

.form .register-form{
    display: none;
}

/* HEADER */

/* MAIN */

/* NAV */

/************** CLASS SELECTORS ************** */

/*************** ID SELECTORS *************** */

#taoLogo{
    margin:auto;
}