@media only screen and (min-width: 32.5em) {

    /* <----ELEMENT SELECTORS----> */

    a {
        display: inline-block;
        border-bottom: none;
        font-size: 1.5rem;
        padding: .5rem;
        margin: .25rem .5rem;
        font-family: "Cinzel", serif;
        font-size: 1.5rem;
    }

    a.colors_link {
        font-family: serif;
        font-size: 1rem;
    }

    a:hover.colors_link {
        transform: none;
    }

    a:link {
        text-decoration: none;
    }


    body {
        font-family: "Markazi Text", serif;
        font-size: 20px;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
        color: black;
    }

    iframe{
        display: inline;
        width: 300px;
    }

    img {
        max-width: 300px;
        display: inline;
    }

    p {
        max-width: 700px;
        text-align: center;
        margin: auto;
        padding: .5em;
        font-size: 1.25em;
    }
    
    table{
        text-align: center;
        display: inline-block;
        border: 2px solid rgba(0, 0, 0, 0.3);
        margin: 10px
    }

    table thead tr th{
        border: none;
    }

    th{
        width: 8rem;
    }

    table, th, td{
        border: 2px solid rgba(0, 0, 0, 0.3);
        border-collapse: collapse;
    }

    /* <----CLASS SELECTORS----> */

    .summary {
        max-width: 50%;
        max-height: 150px;
        margin-top: 0;
        margin-right: 0;
    }
    
    .summary h2{
        font-size: .75rem;
    }

    .summary p{
        font-size: 1rem;
    }

        /* <----ID SELECTORS----> */
}