/* <-- ELEMENT SELECTORS --> */
html, body{
    height: 100%;
    width:100%;
    margin: 0;

}

html{
    font-family: Arial, Helvetica, sans-serif;
}

label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

nav{
    border-bottom: 1px solid rgb(180, 180, 180);
    text-align: right;
    height: 70px;
    line-height: 70px;
}

span{
    color: #54D17A;
}


/* <-- CLASS SELECTORS --> */

.menu{
    margin: 0 30px 0 0;
}

.menu a{
    text-decoration: none;
    color: gray;
    margin:  0 10px;
    line-height: 70px;
    clear: right;
}

/* <-- ID SELECTORS --> */

#toggle{
    display: none;
}


@media only screen and (max-width: 32.49rem){
    label{
        display:block;
        cursor: pointer;
    }

    .menu{
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a{
        display: block;
        border-bottom: 1px solid rgb(180, 180, 180);
        margin: 0;
    }

    #toggle:checked + .menu{
        display: block;
    }
}