@media only screen and (min-width: 65em) {

    /*************** ELEMENT SELECTORS ***************/


    /*************** CLASS SELECTORS ***************/



    /* RESPONSIVE NAVIGATION */
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        /* needed because of state in small view */
        flex: 1 1 100%;
    }

    .navigation li a {
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }

    #last_li {
        border-right: none;
    }




    /* Site Logo, Name and Motto */
    .siteLogo {
        grid-column: 1/2;

    }

    .siteNameAndMotto {
        grid-column: 2/3;
        text-align: center;

        align-self: center;
    }

    /* Weather Summary */
    /* .summary {
        max-width: 75%;
        max-height: 100%;
    }

    .summary h2{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .summary p{
        font-size: 1.75rem;
    } */
    /*************** ID SELECTORS ***************/


    /************** RESERVATIONS PAGE **************/
    #form {
        font-size: 1.5rem;
    }

    #submit {
        padding: 20px;
        margin: 15px auto;
        font-size: 1.25rem;
        border-radius: 15px;
    }


    /************** SERVICES PAGE **************/


    #amenitiesList {
        grid-column: 1/3;
        justify-self: center;
    }

    #specializedServicesList {
        grid-column: 1 / 3;
        justify-self: center;
        max-width: 75%;

    }



    /*********** TEMPLES LIST ***********/

    #templesContainer {
        grid-column-gap: 8%;
    }

    #laieTemple{
        grid-column: 2/3 ;
        grid-row: 4/6;
    
        border: 1px solid #242424;
        padding: 0 2%;
        margin-top: 5%;
    
        text-align: left;
    }

    #provoTemple{
        grid-column: 1/2 ;
        grid-row: 3/5;
    
        border: 1px solid #242424;
        padding: 0 2%;
        margin-top: 5%;
    
        text-align: left;
    }

    #sanDiegoTemple{
        grid-column: 2/3;
        grid-row: 2/4;
    
        border: 1px solid #242424;
        padding: 0 2%;
        margin-top: 5%;
    
        text-align: left;
    }

    #washingtonDCtemple{
        grid-column: 1/2;
        grid-row: 1/3;
    
        border: 1px solid #242424;
        padding: 0 2%;
        margin-top: 5%;
    
        text-align: left;
    }
    

}