@media only screen and (min-width: 32.5em) {

    /*************** ELEMENT SELECTORS ***************/



    /*************** CLASS SELECTORS ***************/
    .summary {
        max-width: 70%;
        max-height: 100%;
        padding: 10%;
    }
    
    /* .summary p{
        font-size: 1.5rem;
    } */

    /*************** ID SELECTORS ***************/

    #content {
        max-width: 100%;
        margin: auto;
        text-align: center;
    }


    /************** SERVICES PAGE **************/

    #amenitiesHeader {
        grid-column: 1/3;
    }

    #amenitiesList{
        grid-column: 1/3;
    }

    #servicesGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #receptionLink {
        grid-column: 1/2;

    }

    #fullTimeMissionaryLink {
        grid-column: 2/3;
    }


    #specializedServicesHeader {
        grid-column: 1/3;
    }

    #specializedServicesList{
        grid-column: 1 / 3;
    }



    /*************** TEMPLES LIST ***************/

#laieTemple{
    border: 1px solid #242424;
    padding: 0 2%;
    margin-top: 5%;

    text-align: left;
}

#provoTemple{
    border: 1px solid #242424;
    padding: 0 2%;
    margin-top: 5%;

    text-align: left;
}

#templesContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 5%;
    grid-template-rows: 1fr;
}

.templeInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#templesContainer img{
    box-shadow: 5px 5px 5px #242424;
}

#sanDiegoTemple{
    border: 1px solid #242424;
    padding: 0 2%;
    margin-top: 5%;

    text-align: left;
}

#washingtonDCtemple{
    /* border: 1px solid #242424; */
    padding: 0 2%;
    margin-top: 5%;

    text-align: left;
}

section #weather-icon{
    box-shadow: none;
}



}