@import url("https://fonts.googleapis.com/css?family=Cinzel|Markazi+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");

/* <----Element Selectors----> */

a{
    color:black;
    padding: 5px;
    margin: 5px;
}
a:link{
    text-decoration: none;
    color:blue;
}
a:visited{
    text-decoration: none;
    color:black;
}
a:hover{
    border-radius: 25px;
    transition-duration: 0.4s;
    background-color: #4CAF50; /* Green */
}

body {
    background-color: #A2AEBB;
    font-family: "Markazi Text", serif;
    padding: 5px 25px;
    font-size: 18px;
    margin: 0;
    color: #444;
    max-width: 800px;
    text-align: center;
}

footer {
    background-color: #EACB00;
    border-radius: 25px;
    padding: 5px;
    margin: 50px;
    color: black;
    text-align: center;
}

h1 {
    font-family: "Cinzel", serif;
    font-size: 1.5rem;
    color: black;
}

h2 {
    font-size: 1rem;
    color: black;
}

h3{
    font-size: 1rem;
    color: black;
    
}

header {
    background-color: #EACB00;
    border-radius: 25px;
    padding: 5px;
    margin: 10px 20px 50px 20px;
    border: 1px;
    text-align: center;
}

img {
    max-width: 300px;
}

li {
    color: black;
}

ul {
    list-style: none;
    color: black;
}



/* <----CLASS SELECTORS----> */

.container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}

.containerItem1 {
    grid-column: 1/2;
    padding: 1em;
    margin: 1em;
    display: inline-block;
}

.containerItem2 {
    grid-column: 1/2;
    padding: 1em;
    margin: 1em;
    display: inline-block;
}


.containerItem3 {
    grid-column: 1/2;
    padding: 1em;
    margin: 1em;
    display: inline-block;
}

/* <----ID SELECTORS----> */

#content {
    width: 75%;
    height: 75%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
}