/* <-- ELEMENT SELECTORS --> */

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

nav {
    border-bottom: 1px solid #1C3144;
    height: 70px;
    line-height: 70px;
}

/* <-- CLASS SELECTORS --> */

.menu {
    margin: 0 100px 0 0;
}

.menu a {
    text-decoration: none;
    margin: 0 10px;
    line-height: 70px;
    clear: right;
    font-size: 1.5rem;
}

/* <-- ID SELECTORS --> */

#toggle {
    display: none;
}


@media only screen and (max-width: 32.49rem) {
    label {
        display: block;
        cursor: pointer;
    }

    .menu {
        /* text-align: center; */
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        border-bottom: 1px solid rgb(180, 180, 180);
        margin: 0;
        color: white;
    }

    #toggle:checked+.menu {
        display: block;
        background-color: #1C3144;
        z-index: 2;
        line-height: 10px;
        height: 100vh;

    }

    #toggle:checked+img {
        z-index: -1;
    }

    #toggle:checked+main {
        visibility: hidden;
    }

    #toggle:checked+nav {
        border-bottom: 1px solid #D00000;
        height: 70px;
        line-height: 70px;
    }

}