@import url("https://fonts.googleapis.com/css?family=Cinzel|Markazi+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");

/* <----Element Selectors----> */

a {
    display: inline-block;
    color: black;
    padding: 5px;
    margin: 10px 5px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    border-radius: 25px;
    transition-duration: 0.4s;
    background-color: #4CAF50; /* Green */
}

body {
    background-color: #A2AEBB;
    font-family: "Markazi Text", serif;
    font-size: 18px;
    margin: 0;
    color: #444;
    max-width: 800px;
    text-align: center;
}

footer {
    background-color: #EACB00;
    padding: 5px 0;
    width: 100%;
    color: black;
    text-align: center;
}

h1 {
    font-family: "Cinzel", serif;
    font-size: 1.5rem;
    color: black;
}

h2 {
    font-size: 1rem;
    color: black;
}

h3 {
    font-size: 1rem;
    color: black;

}

header {
    background-color: #EACB00;
    padding: 5px 0;
    border: 1px;
    text-align: center;
    width: 100%;
}

li{
    display: inline-block;
}

img {
    max-width: 300px;
    width: 100%;
}


p {
    color: black;
}


ul{
    list-style-type: none;
    
}

/* <----CLASS SELECTORS----> */



/* <----ID SELECTORS----> */

#content {
    width: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
}