@import url("https://fonts.googleapis.com/css?family=Cinzel|Markazi+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");

/* <----Element Selectors----> */

/*-------------------------
| BODY
--------------------------*/
body {
    background-color: #A2AEBB;
    font-family: "Markazi Text", serif;
    font-size: 18px;
    padding: 0;
    /*  Need to prevent horizontal space around the elements */
    margin: 0;
    /*  Need to prevent horizontal space around the elements */
    max-width: 100vw;
    /*  Questionable, caused horizontal scrolling when with the html selector */
    text-align: center;

    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

p {
    padding: 0;
    margin: 0;
}

section {
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 10px;
}



h1 {
    margin: 0 0 20px 0;
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: 1rem;
}

h1,
h2,
h3,
h4 {
    color: black;
    font-family: "Cinzel", serif;
}

/*-------------------------
| HEADER
--------------------------*/

header {
    background: #42A5F5;
    max-height: 200px;
    display: grid;
    grid-row-start: -4;
    grid-row-end: -5;
    grid-template-columns: 1fr 1fr;
}

/*------Site Logo, Name and Motto------*/

.siteImg {
    max-width: 100px;
    margin: auto;
}

.siteNameAndMotto {
    margin: auto;
    justify-self: left;
    margin: auto 0;
}

.siteNameAndMotto p {
    font-style: italic;
    padding-left: 0rem;
}

html {
    height: 100%;
    padding: 0;
    margin: 0;
}

img {
    max-width: 200px;
}

/*-------------------------
| MAIN
--------------------------*/

main {
    grid-row-start: -2;
    grid-row-end: -3;
}

/*----------------------------
| FORM
----------------------------*/
form fieldset {
    margin: 2rem 0;
    border: 1px solid #00610d;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #00610d;
    margin: 0 1rem;
    padding: 0 .5rem;
    text-align: left;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: 1.5rem;
    text-align: left;
}

form label.top input,
form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 80%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
    display: block;
    padding: .75rem;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #00610d;
    color: rgb(255, 255, 255);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    font-size: 1.5rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

.flexly input {
    /* display: flex; */
    align-items: center;
    text-align: left;

    /* -webkit-appearance: none; */
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 80%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);

}

/* .flexly{
    text-align: left;
} */

/*-------------------------
| NAVIGATION
--------------------------*/

nav {
    background-color: #EACB00;
    font-family: "Markazi Text", serif;
    font-size: 18px;
    /* padding: 5px 0; */
    margin: 0;
    color: #000;
    grid-row-start: -3;
    grid-row-end: -4;
}

nav ul li a {
    display: block;
    padding: .6rem 2%;
    text-decoration: none;
    color: #000;
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

/*********************************************
* Navigation Bar Classes
*********************************************/
.ham {
    padding: 0;
    margin: 0;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #000;
    text-align: center;
    text-decoration: none;
}

.navigation a:hover {
    color: #000;
    /* background-color: #fff; */
    font-weight: 700;
}

.responsive li {
    display: block;
}

/*-------------------------
| FOOTER
--------------------------*/

footer {
    text-align: center;
    padding: 0;
    margin: 0;
    grid-row-start: -1;
    grid-row-end: -2;
}

.footer {
    background: #42A5F5;
    color: rgba(255, 255, 255, 0.644);
    /* padding: 20px; */
    /* CANNOT HAVE PADDING ON THIS, CAUSES SPACE */
}





/* the onclick JS toggles the .repsonsive class from 
display none (.navigation li) to display block because 
the repsonsive class is added to the end of the class 
list like this in HTML Line #6. <ul class="navigation responsive">
*/




/* <----ID Selectors----> */

#contact {
    text-align: center;
}

#content {
    max-width: 800px;
    margin: auto;
}


/* #submit{
    display: flex;
    padding: 5px;
    margin: 15px auto;
    background-color: rgb(80, 168, 95);
    font-size: 1.25rem;
    border: none;
    border-radius: 10px;
}  */

/*---------------------------
| THANKS AFTER SUBMISSION PAGE
-----------------------------*/

#thanks {
    background-color: rgb(76, 187, 57);
    color: rgb(47, 47, 47);
    border: 2px solid rgba(0, 0, 0, 0.6);
    font-size: 1.5rem;
    margin: 100PX auto;
    padding: 10px;
    text-align: center;
    max-width: 45%;
}

/*-------------------------------------------
| Clearfix: Forces an Element not to collapse
--------------------------------------------*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}