@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Serif&display=swap');

/************** ELEMENT SELECTORS ************** */
aside {
    color: #e7dac4;
    color: #746F72;
    color: #313638;
    color: #3A405A;
    color: #B39C4D;
}

/* BODY */

body {
    font-family: 'Noto Serif', serif;

    width: 100%;
    min-height: 100%;

    color: #040303;
    background-color: #e7dac4;

    display: grid;
    grid-template-rows: 1fr auto;
}

/* FOOTER */

footer {
    text-align: center;
    grid-row: -1 / -2;
    border: 1px solid black;

}


/* HEADER */

h1 {
    text-align: center;
    font-family: 'Noto Serif', serif;
}

header {
    grid-row: -5 / -4;
}

html {
    height: 100%;
}

/* MAIN */

main {
    text-align: center;
}

img {
    max-width: 100px;
}


/* NAV */
li {
    list-style-type: none;
    background-color: #3A405A;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 10px auto;
    max-width: 250px;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    font-size: 1.2em;
    color: white;
    transition: ease-in;
}

ul {
    margin: auto;
    padding: 0;
    ;
}

/************** CLASS SELECTORS ************** */

/*************** ID SELECTORS *************** */

#taoLogo{
    margin:auto;
    padding: ;

}