@media only screen and (min-width: 32.5em){
    
    

    /* <----ELEMENT SELECTORS----> */   
        footer{
            position: fixed;
            width: 100%
        }
    
        h1 {
            font-family: "Cinzel", serif;
            font-size: 2.5rem;
            color: black;
        }
        
        h2 {
            color: black;
            font-size: 1.5rem
        }
    
    /* <----CLASS SELECTORS----> */
    
    /* .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .containerItem1{
        grid-column: 2/3;
        max-width: 300px;
        border: 1px solid rgb(102, 94, 94);
        padding: 10px;
        border-radius: 10px;
        box-shadow: 2px 2px 4px #000000;
        margin: 25px;
    }
    
    .containerItem2{
        grid-column: 1/2;
        grid-row: 1/2;
    } */
    /* <----ID SELECTORS----> */
    
    #content{
        position: absolute;
    }
    }